@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
body {
    max-width: 900px;
    margin: auto;
    padding:10px;
    line-height: 1.5;
    background-color: #fdfdfd;
    font-family: "Noto Serif JP";
    font-weight: 200;
}

.depth0 {
    padding: 15px;
}

.depth1 {
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    padding-bottom: 10px;
}

.contact {
    padding-top: 10px;
    margin-bottom: -10px;
}

.gitLink {
    text-decoration: none;
    color: rgb(85, 60, 105);
    text-shadow: 0 0 1px rgb(189, 188, 188);
}

.gitLogo {
    width: 30px;
    height: 30px;
}

.gitLink:hover {
    text-decoration: underline;
}

.fileLink {
    text-decoration: none;
    color: rgb(237, 69, 139);
    text-shadow: 0 0 1px rgb(225, 225, 225);
}
.modDate {
    font-size: 9px;
    text-shadow: 0 0 8px rgb(223, 223, 223);
}

.fileLink:hover {
    text-decoration: underline;
}

.title {
    text-align: center
}

.mainpart {
    background-color: white;
    box-shadow: 0 0 8px rgb(235, 235, 235);
    border-radius: 10px;
}
.subject {
    color: #434343;
    font-size: 12px;
    width: 80%;
    overflow-wrap: anywhere;
}