@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

body {
    max-width: 900px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    background-color: #fbfaf8;
    /* background-color: #fdfdfd; */
    font-family: "Noto Serif JP";
    font-weight: 200;
    color: #404040;
}

a {
    text-decoration: none;
}

.depth0 {
    padding: 15px;
    margin: 0;
}

.depth1 {
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    padding-bottom: 10px;
}

.contact {
    height: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.gitLink {
    text-decoration: none;
    color: rgb(85, 60, 105);
    text-shadow: 0 0 1px rgb(212, 212, 212);
}

.gitLogo {
    width: 30px;
    height: 30px;
}

::marker {
    font-size: 9px;
    color: #686868;
}

ul {
    list-style-type: circle;
}

.gitLink:hover {
    text-decoration: underline;
}

.fileLink {
    /* list-style-type:circle; */
    text-shadow: 0 0 4px rgb(215, 190, 201);
    color: rgb(215, 95, 145);
    /* text-shadow: 0 0 1px rgb(225, 225, 225); */
}

.fileLink:visited {
    color: rgb(215, 95, 145);
}

.modDate {
    font-size: 9px;
    /* padding-left:25px; */
    text-shadow: 0 0 8px rgb(223, 223, 223);
}

.title {
    text-align: center
}

.mainpart {
    background-color: #fcfbfa;
    /* background-color: white; */

    box-shadow: 0 0 6px rgb(224, 224, 224);
    border-radius: 10px;
    padding-left: 15px;
}

.subject {
    color: #434343;
    font-size: 12px;
    width: 80%;
    overflow-wrap: anywhere;
    /* padding-left:25px; */
}

/* .fileLogo {
    vertical-align: -6px;
} */
.nodetitle {
    /* list-style-type: none; */
    vertical-align: -2px;
}

.directory {
    list-style: none;
}

.directoryDash {
    color: #686868;
}