@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

body {
    max-width: 900px;
    margin: auto;
    padding: 15px;
    line-height: 1.5;
    background-color: #fdfdfd;
    /* background-color: #fdfdfd; */
    font-family: "Noto Serif JP";
    font-weight: 200;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 250,
  'GRAD' 0,
  'opsz' 24;
  color:#4d4d4d;
  text-shadow: 0 0 3px rgb(203, 203, 203);
} */
.depth0 {
    padding: 15px;
}

.depth1 {
    padding-top: 10px;
    padding-left: 0px;
    list-style: none;
    padding-bottom: 10px;
}

.contact {
    padding-top: 10px;
    margin-bottom: -10px;
}

.gitLink {
    text-decoration: none;
    color: rgb(85, 60, 105);
    text-shadow: 0 0 1px rgb(212, 212, 212);
}

.gitLogo {
    width: 30px;
    height: 30px;
}

::marker {
    font-size: 9px;
    color: #b6b6b6;
}

ul {
    list-style-type: circle;
}

.gitLink:hover {
    text-decoration: underline;
}

.fileLink {
    /* list-style-type:circle; */
    text-decoration: none;
    color: rgb(237, 69, 139);
    text-shadow: 0 0 1px rgb(225, 225, 225);
    transition-duration: 300ms;
}

.fileLink:visited {
    color: rgb(237, 69, 139);
}

.modDate {
    font-size: 9px;
    /* padding-left:25px; */
    text-shadow: 0 0 8px rgb(223, 223, 223);
}

.fileLink:hover {
    text-shadow: 0 0 4px rgb(228, 195, 210);
    transition-duration: 300ms;
    /* text-decoration: underline; */
}

.title {
    text-align: center
}

.mainpart {
    background-color: white;
    box-shadow: 0 0 8px rgb(235, 235, 235);
    border-radius: 10px;
    padding-left: 15px;
}

.subject {
    color: #434343;
    font-size: 12px;
    width: 80%;
    overflow-wrap: anywhere;
    /* padding-left:25px; */
}

/* .fileLogo {
    vertical-align: -6px;
} */
.nodetitle {
    /* list-style-type: none; */
    vertical-align: -2px;
}

.directory {
    list-style: none;
}

.directoryDash {
    color: #b6b6b6;
}